* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-login {
    height: 100vh;
    /* background: yellow; */
    display: grid;
    grid-template-columns: 5fr 3fr;
    & .container-img {
        background: blueviolet;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    & .container-form {
        /* background: blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        & .login {
            /* background: red; */
            & .social {
                text-align: center;
            }
        }
    }
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-around;
}

.center {
    text-align: center;
}

.mt-2 {
    margin-top: 2rem;
}